.banner {
    height: 50vw;
    position: relative;
    background: url('https://images.unsplash.com/photo-1618221195710-dd6b41faaea6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1700&q=80');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner__info {
    background-color: transparent;
    color: white;
    padding-top: 1vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 40px;
    width: 500px;
}


.banner__searchButton {
    background-color: white;
    font-weight: 900;
    text-transform: inherit;
    color: #ff7779;
    height: 40px;
    
}
.banner__search {
    display: flex;
    flex-direction: column;
}

.banner__info > button {
    background-color: #ff7779;
    color: white;
    text-transform: inherit;
    margin-top: 20px;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    height: 30px;
    width: 170px;
}

.banner__info button:hover {
    background-color: transparent;
    border: 2px solid lightblue;
}

.banner__info > h5 {
    margin-top: 10px;
}

